# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml

# Android related
*.apk
*.aar
*.keystore
local.properties

# iOS related
Pods/
DerivedData/
*.xcworkspace
*.xcuserdata

# Web related
.web/

# Dart documentation output directory
doc/api/

# Environment variable files (dotenv)
.env*

# Avoid committing generated JavaScript files from dart2js
*.dart.js
*.info.json       # Produced by --dump-info flag
*.js
*.js_
*.js.deps
*.js.map

# Lock file - for apps it's recommended to commit it, so included here
pubspec.lock
